<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/adminHome">Cuenta</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/adminHome/crops">Cultivos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/adminHome/soils">Suelos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/adminHome/regions">Regiones</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/adminHome/typesCrop">Tipos de cultivo</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
		</div>
	</div>
</nav>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Cultivo</strong>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group" ng-hide="action == 'new'">
				<label for="crop_id" class="col-md-2 control-label">ID</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="crop_id" ng-model="data.id"
						ng-disabled="action == 'edit' || action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="crop_name" class="col-md-2 control-label">Nombre</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="crop_name" ng-model="data.name"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="initial_stage_crop" class="col-md-2 control-label">Etapa inicial (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="initial_stage_crop" ng-model="data.initialStage"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="development_stage_crop" class="col-md-2 control-label">Etapa de desarrollo (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="development_stage_crop"
						ng-model="data.developmentStage" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="middle_stage_crop" class="col-md-2 control-label">Etapa media (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="middle_stage_crop" ng-model="data.middleStage"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="final_stage_crop" class="col-md-2 control-label">Etapa final (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="final_stage_crop" ng-model="data.finalStage"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="crop_lifeCycle" class="col-md-2 control-label">Ciclo de vida (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="crop_lifeCycle" ng-model="data.lifeCycle"
						ng-disabled="action == 'edit' || action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="initial_kc" class="col-md-2 control-label">Coficiente inicial de cultivo (Kc
					inicial)</label>
				<div class="col-md-3">
					<input step="any" type="number" class="form-control" id="initial_kc" ng-model="data.initialKc"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="middle_kc" class="col-md-2 control-label">Coficiente medio de cultivo (Kc medio)</label>
				<div class="col-md-3">
					<input step="any" type="number" class="form-control" id="middle_kc" ng-model="data.middleKc"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="final_kc" class="col-md-2 control-label">Coficiente final de cultivo (Kc final)</label>
				<div class="col-md-3">
					<input step="any" type="number" class="form-control" id="final_kc" ng-model="data.finalKc"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="lowerLimitMaximumRootDepth" class="col-md-2 control-label">Límite inferior de la profundidad
					radicular máxima [m]</label>
				<div class="col-md-3">
					<input step="any" type="number" class="form-control" id="lowerLimitMaximumRootDepth"
						ng-model="data.lowerLimitMaximumRootDepth" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="upperLimitMaximumRootDepth" class="col-md-2 control-label">Límite superior de la profundidad
					radicular máxima [m]</label>
				<div class="col-md-3">
					<input step="any" type="number" class="form-control" id="upperLimitMaximumRootDepth"
						ng-model="data.upperLimitMaximumRootDepth" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="depletionFactor" class="col-md-2 control-label">Factor de agotamiento (p)</label>
				<div class="col-md-3">
					<input step="any" type="number" class="form-control" id="depletionFactor"
						ng-model="data.depletionFactor" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="planting_start_month" class="col-md-2 control-label">Mes de inicio de siembra</label>
				<div class="col-md-3">
					<input name="plantingStartMonth" type="text" ng-model="data.plantingStartMonth"
						uib-typeahead="plantingStartMonth as plantingStartMonth.name for plantingStartMonth in findMonthByName($viewValue)"
						typeahead-loading="loadingLocations" class="form-control" typeahead-editable="false"
						typeahead-min-lenght="3" ng-disabled="action == 'view'">
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				</div>
			</div>

			<div class="form-group">
				<label for="end_planting_month" class="col-md-2 control-label">Mes de fin de siembra</label>
				<div class="col-md-3">
					<input name="endPlantingMonth" type="text" ng-model="data.endPlantingMonth"
						uib-typeahead="endPlantingMonth as endPlantingMonth.name for endPlantingMonth in findMonthByName($viewValue)"
						typeahead-loading="loadingLocations" class="form-control" typeahead-editable="false"
						typeahead-min-lenght="3" ng-disabled="action == 'view'">
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				</div>
			</div>

			<div class="form-group">
				<label for="type_crop" class="col-md-2 control-label">Tipo de cultivo</label>
				<div class="col-md-3">
					<input name="typeCrop" type="text" ng-model="data.typeCrop" placeholder="Ej.: Hortaliza"
						uib-typeahead="typeCrop as typeCrop.name for typeCrop in findActiveTypeCropByName($viewValue)"
						typeahead-loading="loadingLocations" class="form-control" typeahead-editable="false"
						typeahead-min-lenght="3" ng-disabled="action == 'view'">
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				</div>
			</div>

			<div class="form-group">
				<label for="region" class="col-md-2 control-label">Región</label>
				<div class="col-md-3">
					<input name="region" type="text" ng-model="data.region" placeholder="Ej.: Mediterráneo"
						uib-typeahead="region as region.name for region in findActiveRegionByName($viewValue)"
						typeahead-loading="loadingLocations" class="form-control" typeahead-editable="false"
						typeahead-min-lenght="3" ng-disabled="action == 'view'">
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				</div>
			</div>

			<div class="form-group">
				<label for="crop_active" class="col-md-2 control-label">Activo</label>
				<div class="col-md-3">
					<input type="checkbox" id="crop_active" ng-model="data.active" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-3">
					<button type="submit" class="btn btn-success" ng-click="create()"
						ng-show="action == 'new'">Crear</button>
					<button type="submit" class="btn btn-success" ng-click="modify()"
						ng-show="action == 'edit'">Modificar</button>
					<button class="btn btn-success" ng-click="cancel()"
						ng-show="action == 'new' || action == 'edit'">Cancelar</button>
					<button class="btn btn-success" ng-click="cancel()" ng-show="action == 'view'">Atrás</button>
				</div>
			</div>
		</form>
	</div>
</div>