<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Restablecimiento de la contraseña</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="newPassword" class="col-md-2 control-label">Nueva contraseña</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" id="newPassword"
                        placeholder="Nueva contraseña ultra secreta" ng-model="data.newPassword" />
                </div>
            </div>

            <div class="form-group">
                <label for="newPasswordConfirmed" class="col-md-2 control-label">Confirmación de la nueva
                    contraseña</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" id="newPasswordConfirmed"
                        ng-model="data.newPasswordConfirmed" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <button type="submit" class="btn btn-success" ng-click="resetPassword()">Aceptar</button>
                    <button class="btn btn-success" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>