<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home">Cuenta</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/parcels">Parcelas</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/plantingRecords">Plantaciones</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/irrigationRecords">Riegos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/climateRecords">Regs. climáticos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/soilWaterBalances">Balans. H2O</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/statisticalReports">Infos. estads.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/harvests">Rends.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/crops">Cults.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/soils">Suelos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
		</div>

	</div>
</nav>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Listado de registros climáticos</strong>
	</div>

	<form class="form-inline">
		<div class="form-group">
			<!-- Campo de parcela -->
			<input name="parcel" type="text" ng-model="pagination.search.parcel" placeholder="Parcela"
				uib-typeahead="parcel as parcel.name for parcel in findParcelByName($viewValue)"
				typeahead-loading="loadingLocations" class="form-control" typeahead-editable="false"
				typeahead-min-lenght="3">

			<!-- Campo de la fecha -->
			<input type="date" class="form-control" id="date" ng-model="pagination.search.date">
		</div>
		<button class="btn btn-primary btn-sm" ng-click="pagination.showPage(1)"><i
				class="glyphicon glyphicon-search"></i></button>
		<button class="btn btn-danger btn-sm" ng-click="pagination.search = {}; pagination.showPage(1)"><i
				class="glyphicon glyphicon-erase"></i></button>
	</form>

	<div class="panel-body">
		<a href="#!/home/climateRecords/new" class="btn btn-success" role="button">Nuevo registro climático</a>
	</div>
	<table class="table table-condensed table-hover table-fixed-top">
		<thead>
			<tr>
				<th>ID</th>
				<th>Fecha</th>
				<th>Parcela</th>
				<th>Precip. [mm/día]</th>
				<th>ETc [mm/día]</th>
				<th>ETo [mm/día]</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in listElement">
				<td>{{c.id}}</td>
				<td>{{c.date | date:'dd/MM/yyyy'}}</td>
				<td>{{c.parcel.name}}</td>
				<td>{{c.precip}}</td>
				<td>{{c.etc}}</td>
				<td>{{c.eto}}</td>
				<td class="text-right">
					<div class="btn-group" role="group" aria-label="...">
						<a href="#!/home/climateRecords/view/{{c.id}}" class="btn btn-success" role="button">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</a>
						<a href="#!/home/climateRecords/edit/{{c.id}}" class="btn btn-success" role="button">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a>
						<button type="button" class="btn btn-success" aria-label="Delete" ng-click="delete(c.id)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<pagination></pagination>
				</td>
			</tr>
		</tfoot>
	</table>
</div>