<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home">Cuenta</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/parcels">Parcelas</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/plantingRecords">Regs. plantación</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/irrigationRecords">Regs. riego</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/climateRecords">Regs. climáticos</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/soilWaterBalances">Balans. H2O</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/statisticalReports">Infos. estads.</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/harvests">Rends.</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/crops">Cults.</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/soils">Suelos</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
    </div>

  </div>
</nav>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Cálculo de la necesidad de agua de riego de un cultivo en la fecha actual (hoy) [mm/día]</strong>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="parcel_id" class="col-md-2 control-label">ID de la parcela</label>
        <div class="col-md-3">
          <input type="number" class="form-control" id="parcel_id" ng-model="cropIrrigationWaterNeedData.parcel.id"
            ng-disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label for="parcel_name" class="col-md-2 control-label">Nombre de la parcela</label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="parcel_name" ng-model="cropIrrigationWaterNeedData.parcel.name"
            ng-disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label for="hectares_parcel" class="col-md-2 control-label">Hectáreas de la parcela</label>
        <div class="col-md-3">
          <input type="number" class="form-control" id="hectares_parcel"
            ng-model="cropIrrigationWaterNeedData.parcel.hectares" ng-disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label for="crop_name" class="col-md-2 control-label">Cultivo</label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="crop_name" ng-model="cropIrrigationWaterNeedData.crop.name"
            ng-disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label for="cropIrrigationWaterNeed" class="col-md-2 control-label">Necesidad de agua de riego del cultivo en la
          fecha actual (hoy) [mm/día]</label>
        <div class="col-md-3">
          <input step="any" type="number" class="form-control" id="cropIrrigationWaterNeed"
            ng-model="cropIrrigationWaterNeedData.cropIrrigationWaterNeed" ng-disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label for="irrigationDone" class="col-md-2 control-label">Riego realizado en la fecha actual (hoy)
          [mm/día]</label>
        <div class="col-md-3">
          <input step="any" type="number" class="form-control" id="irrigationDone"
            ng-model="cropIrrigationWaterNeedData.irrigationDone" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
          <button type="submit" class="btn btn-success" ng-click="saveIrrigationWaterNeedData()">Aceptar</button>
          <button class="btn btn-success" ng-click="cancel()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>