<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home">Cuenta</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/crops">Cultivos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/parcels">Parcelas</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/plantingRecords">Regs. de plantacion</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/irrigationRecords">Regs. de riego</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/climateRecords">Regs. climaticos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/statisticalReports">Infos. estadísticos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
		</div>
	</div>
</nav>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Listado de parcelas</strong>
	</div>
	<div class="panel-body">
		<a href="#!/home/parcels/new" class="btn btn-success" role="button">Nueva parcela</a>
	</div>
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Hectáreas</th>
				<th>Activa</th>
				<th class="text-right"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in data">
				<td>{{p.id}}</td>
				<td>{{p.name}}</td>
				<td>{{p.hectares}}</td>
				<td>{{p.active ? 'Sí' : 'No'}}</td>
				<!-- <td class="text-right">$ {{p.salary}}</td> -->
				<td class="text-right">
					<div class="btn-group" role="group" aria-label="...">
						<a href="#!/home/parcels/view/{{p.id}}" class="btn btn-success" role="button">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</a>
						<a href="#!/home/parcels/edit/{{p.id}}" class="btn btn-success" role="button">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a>
						<button type="button" class="btn btn-success" aria-label="Delete" ng-click="delete(p.id)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>