<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home">Cuenta</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/parcels">Parcelas</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/plantingRecords">Plantaciones</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/irrigationRecords">Riegos</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/climateRecords">Regs. climáticos</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/soilWaterBalances">Balans. H2O</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/statisticalReports">Infos. estads.</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/harvests">Rends.</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/crops">Cults.</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home/soils">Suelos</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
    </div>

  </div>
</nav>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Listado de registros de plantación</strong>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <!-- Campo de parcela -->
      <input name="parcel" type="text" ng-model="pagination.search.parcel" placeholder="Parcela"
        uib-typeahead="parcel as parcel.name for parcel in findParcelByName($viewValue)"
        typeahead-loading="loadingLocations" class="form-control" typeahead-editable="false" typeahead-min-lenght="3">

      <!-- Campo del cultivo -->
      <input name="crop" type="text" ng-model="pagination.search.crop" placeholder="Cultivo"
        uib-typeahead="crop as crop.name for crop in findCropByName($viewValue)" typeahead-loading="loadingLocations"
        class="form-control" typeahead-editable="false" typeahead-min-lenght="3">

      <!-- Campo de la fecha de siembra -->
      <input type="date" class="form-control" id="seedDate" ng-model="pagination.search.seedDate">

      <!-- Campo de la fecha de cosecha -->
      <input type="date" class="form-control" id="harvestDate" ng-model="pagination.search.harvestDate">
    </div>
    <button class="btn btn-primary btn-sm" ng-click="pagination.showPage(1)"><i
        class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-danger btn-sm" ng-click="pagination.search = {}; pagination.showPage(1)"><i
        class="glyphicon glyphicon-erase"></i></button>
  </form>

  <div class="panel-body">
    <a href="#!/home/plantingRecords/new" class="btn btn-success" role="button">Nuevo registro de plantación</a>
  </div>

  <table class="table table-condensed table-hover table-fixed-top">
    <thead>
      <tr>
        <th>ID</th>
        <th>Parcela</th>
        <th>Cultivo</th>
        <th>F. siembra</th>
        <th>F. cosecha</th>
        <th>Cap. almac. agua suelo [mm]</th>
        <th>Umbral riego [mm]</th>
        <th>Nec. agua riego cult. [mm/día]</th>
        <th>Estado cultivo</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in listElement">
        <td>{{p.id}}</td>
        <td>{{p.parcel.name}}</td>
        <td>{{p.crop.name + ' (ID: ' + p.crop.id + ')'}}</td>
        <td>{{p.seedDate | date:'dd/MM/yyyy'}}</td>
        <td>{{p.harvestDate | date:'dd/MM/yyyy'}}</td>
        <td>{{p.totalAmountWaterAvailable > 0 ? p.totalAmountWaterAvailable : '-' }}</td>
        <td>{{p.optimalIrrigationLayer < 0 ? p.optimalIrrigationLayer : '-' }}</td>
        <td>{{p.cropIrrigationWaterNeed}}</td>
        <td>{{p.status.name}}</td>
        <td class="text-right">
          <div class="btn-group" role="group" aria-label="...">
            <a href="#!/home/plantingRecords/calculate/{{p.id}}" class="btn btn-success" role="button"
              ng-show="{{p.status.name == 'En desarrollo' || p.status.name == 'Desarrollo óptimo' || p.status.name == 'Desarrollo en riesgo de marchitez' || p.status.name == 'Desarrollo en marchitez'}}">
              <span aria-hidden="true">Calcular</span>
            </a>
            <a href="#!/home/plantingRecords/view/{{p.id}}" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </a>
            <a href="#!/home/plantingRecords/edit/{{p.id}}" class="btn btn-success" role="button"
              ng-hide="{{p.modifiable == false}}">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <button type="button" class="btn btn-success" aria-label="Delete" ng-click="delete(p.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <pagination></pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>