<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home">Cuenta</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/crops">Cultivos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/parcels">Parcelas</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/plantingRecords">Regs. plantación</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/irrigationRecords">Regs. riego</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/climateRecords">Regs. climáticos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/cropWaterActivityLogs">Regs. act. H2O de cult.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/statisticalReports">Infos. estadísticos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
		</div>
	</div>
</nav>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Informe estadístico</strong>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_id" class="col-md-2 control-label">ID</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="statisticalReport_id" ng-model="data.id"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="statisticalReport_dateFrom" class="col-md-2 control-label">Fecha desde</label>
				<div class="col-md-3">
					<input type="date" class="form-control" id="statisticalReport_dateFrom" ng-model="data.dateFrom"
						value={{data.dateFrom}} ng-disabled="action == 'view'" required>
				</div>
			</div>

			<div class="form-group">
				<label for="statisticalReport_dateUntil" class="col-md-2 control-label">Fecha hasta</label>
				<div class="col-md-3">
					<input type="date" class="form-control" id="statisticalReport_dateUntil" ng-model="data.dateUntil"
						value={{data.dateUntil}} ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_mostPlantedCrop" class="col-md-2 control-label">Cultivo más
					plantado</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="statisticalReport_mostPlantedCrop"
						ng-model="data.mostPlantedCrop" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_lestPlantedCrop" class="col-md-2 control-label">Cultivo menos
					plantado</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="statisticalReport_lestPlantedCrop"
						ng-model="data.lessPlantedCrop" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_cropLongestLifeCyclePlanted" class="col-md-2 control-label">Cultivo
					plantado con el mayor ciclo de vida
				</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="statisticalReport_cropLongestLifeCyclePlanted"
						ng-model="data.cropLongestLifeCyclePlanted" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_cropShortestLifeCyclePlanted" class="col-md-2 control-label">Cultivo
					plantado con el menor ciclo de vida
				</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="statisticalReport_cropShortestLifeCyclePlanted"
						ng-model="data.cropShortestLifeCyclePlanted" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_daysWithoutCrops" class="col-md-2 control-label">Cantidad de
					días sin ningún cultivo plantado</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="statisticalReport_daysWithoutCrops"
						ng-model="data.daysWithoutCrops" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group" ng-hide="action == 'new'">
				<label for="statisticalReport_totalAmountRainwater" class="col-md-2 control-label">Cantidad total de
					agua de lluvia [mm/período]
				</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="statisticalReport_totalAmountRainwater"
						ng-model="data.totalAmountRainwater" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="selectParcel">Parcela</label>
				<select class="form-control col-md-6" id="selectParcel" ng-model="data.parcel"
					data-ng-options="p as ('ID: ' + p.id + ' Nombre: ' + p.name ) for p in parcels track by p.id"
					ng-disabled="action == 'view'" required>
				</select>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-3">
					<button type="submit" class="btn btn-success" ng-click="create()"
						ng-show="action == 'new'">Generar</button>
					<button class="btn btn-success" ng-click="cancel()" ng-show="action == 'new'">Cancelar</button>
					<button class="btn btn-success" ng-click="cancel()" ng-show="action == 'view'">Atrás</button>
				</div>
			</div>
		</form>
	</div>
</div>