<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home">Cuenta</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/parcels">Parcelas</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/plantingRecords">Plantaciones</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/irrigationRecords">Riegos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/climateRecords">Regs. climáticos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/soilWaterBalances">Balans. H2O</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/statisticalReports">Infos. estads.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/harvests">Rends.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/crops">Cults.</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/home/soils">Suelos</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="logout()">Cerrar sesión</a>
		</div>

	</div>
</nav>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Cultivo</strong>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="crop_id" class="col-md-2 control-label">ID</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="crop_id" ng-model="data.id"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="crop_name" class="col-md-2 control-label">Nombre</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="crop_name" ng-model="data.name"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="typeCrop_name" class="col-md-2 control-label">Tipo de cultivo</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="typeCrop_name" ng-model="data.typeCrop.name"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="initial_stage_crop" class="col-md-2 control-label">Etapa inicial (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="initial_stage_crop" ng-model="data.initialStage"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="development_stage_crop" class="col-md-2 control-label">Etapa de desarrollo (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="development_stage_crop"
						ng-model="data.developmentStage" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="middle_stage_crop" class="col-md-2 control-label">Etapa media (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="middle_stage_crop" ng-model="data.middleStage"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="final_stage_crop" class="col-md-2 control-label">Etapa final (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="final_stage_crop" ng-model="data.finalStage"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="crop_lifeCycle" class="col-md-2 control-label">Ciclo de vida (días)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="crop_lifeCycle" ng-model="data.lifeCycle"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="region_name" class="col-md-2 control-label">Región</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="region_name" ng-model="data.region.name"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="plantingStartMonth_name" class="col-md-2 control-label">Mes inicio de siembra</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="plantingStartMonth_name"
						ng-model="data.plantingStartMonth.name" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="endPlantingtMonth_name" class="col-md-2 control-label">Mes fin de siembra</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="endPlantingtMonth_name"
						ng-model="data.endPlantingMonth.name" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="initial_kc" class="col-md-2 control-label">Coficiente inicial de cultivo (Kc
					inicial)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="initial_kc" ng-model="data.initialKc"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="middle_kc" class="col-md-2 control-label">Coficiente medio de cultivo (Kc medio)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="middle_kc" ng-model="data.middleKc"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="final_kc" class="col-md-2 control-label">Coficiente final de cultivo (Kc final)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="final_kc" ng-model="data.finalKc"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="lowerLimitMaximumRootDepth" class="col-md-2 control-label">Límite inferior de la profundidad
					radicular máxima [m]</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="lowerLimitMaximumRootDepth"
						ng-model="data.lowerLimitMaximumRootDepth" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="upperLimitMaximumRootDepth" class="col-md-2 control-label">Límite superior de la profundidad
					radicular máxima [m]</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="upperLimitMaximumRootDepth"
						ng-model="data.upperLimitMaximumRootDepth" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="depletionFraction" class="col-md-2 control-label">Fracción de agotamiento de la humedad en
					el suelo para el cultivo (p)</label>
				<div class="col-md-3">
					<input type="number" class="form-control" id="depletionFraction" ng-model="data.depletionFraction"
						ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<label for="crop_active" class="col-md-2 control-label">Activo</label>
				<div class="col-md-3">
					<input type="checkbox" id="crop_active" ng-model="data.active" ng-disabled="action == 'view'">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-3">
					<button class="btn btn-success" ng-click="goBack()">Atrás</button>
				</div>
			</div>
		</form>
	</div>
</div>